.scrollable-y {
    overflow: scroll;
    background-color: red;
}

.tableHeight {
    height: 70%;
}

.tdStyleAdmin {
    white-space: normal;
    word-wrap: break-word;
}

.cards-EmployeeCard {
    width: 200px;
}

.cards-EmployeeCard-salary {
    font-size: 24px;
}

.cards-EmployeeCard-image {
    border-radius: 10px;
    width: 44mm;
    height: 49mm;
}

.addImageModalItem-ProgressBar-textPercentage {
    font-size: 17px;
    font-weight: 600;
}

.addImageModalItem-ProgressBar-textData {
    font-size: 13px;
}

.red {
    background-color: rgb(223, 160, 160);
}

.blue {
    background-color: rgb(162, 157, 241);
}